
p {
  font-size: 14px;
}
h1 {
  font-size: 24px;
  margin: 0px;
}
.content {
  background-color: #fff;
  width: 600px;
  margin: 0 auto;
  border: 1px solid #d1d1d1;
  padding: 30px;
}

input { /* ユーザが入力しやすいCSS */
  border: none; /* 枠線を無くす */
  border-bottom: 1px solid #d1d1d1; /* 下線を引く */ 
  font-size: 1.2em; /* 表示される文字を1.2倍にする */
  width: 100%; /* 幅を100%にする */
  padding: 8px; /* 内側の余白を増やす */
}

button {
  width: 100%; /* 幅をいっぱいにする */
  background-color: #2096f3; /* 背景色 */
  color: #fff; /* 文字の色 */
  padding: 15px; /* 内側の余白 */
  border: 0; /* 枠線を無くす */
  border-radius: 3px; /* 角を丸くする */
  box-shadow: 0 0 8px rgba(0,0,0, .4); /* ボックスを浮いた状態にする */
}